/* CSS for index.html */
/* Name: Alex Canizales */

:root {
    /* --bodyBgColor: #180030; */
    --bodyBgColor: #fafafa;
    --resumeColor: #ffffff;
    --themeColor: #1d63a5;
    --highlightColor: rgba(116, 112, 134, 0.568);
}

/* --- FONTS --- */
title {
    font-style: bold;
    font-size: 15;
}


h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 300%;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
}

/* Section Headings */
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 140%;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    border-style: hidden hidden solid hidden;
    border-width: 1px;
    border-color: #aaaaaa;
}

/* Job Titles */
h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 2.5%;
    margin-left: 0;
    margin-right: 0;
}

/* Info Headers */
h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 120%;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 2.5%;
    margin-left: 0;
    margin-right: 0;
}

/* Dates */
h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 110%;
    font-weight: normal;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
}

/* Experience Headers */
h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 120%;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
}

p {
    margin-top: 8%;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
}

li {
    list-style-type: none;
    margin-top: 0%;
    margin-bottom: 2.5%;
    margin-left: 0;
    margin-right: 0;
}


/* --- MAIN STRUCTURE --- */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    color: #000000;
    padding: 0px;
    width: 960px;
    margin: 10px auto;
    padding: 0;
    background: var(--bodyBgColor);
    box-shadow: 3px 3px 5px 1px var(--highlightColor);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.body-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 0px 40px 30px;
    background: var(--resumeColor);
}


/* --- HEADER STRUCTURE --- */
header {
    background-color: var(--resumeColor);
    border-radius: 8px 8px 0px 0px;
}

#header-top {
    background-color: var(--themeColor);
    color: #ffffff;
    font-size: 150%;
    width: 460px;
    height: 100px;
    padding: 10px 0px 10px 30px;
    border-radius: 5px 0px 5px 0px;
}

#header-bottom {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 0px 0px 30px;
    text-align: left;
    background: var(--resumeColor);
}

#header-bottom-left {
    width: 330px;
    padding: 5px 20px 0px 0px;
    background: var(--resumeColor);
}

#header-bottom-right {
    width: 440px;
    padding: 11px 0px 0px 118px;
    background: var(--resumeColor);
}


/* --- LEFT SIDE --- */
.column-left {
    display: wrap;
    width: 330px;
    padding-right: 20px;
    background: var(--resumeColor);
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #aaaaaa;
}

.row-left {
    display: wrap;
    width: 325px;
    padding: 0px;
    background: var(--resumeColor);
}

.row-left a {
    color: #000000;
    text-decoration: none;
}

.row-left a:hover {
    color: #0000ff;
}


/* --- IMAGES --- */
.icon {
    width : 18px;
    height: auto;
}


/* --- RIGHT SIDE--- */
.column-right {
    display: wrap;
    width: 530px;
    padding: 0px 0px 0px 20px;
    background: var(--resumeColor);
}

.row-right {
    display: wrap;
    height: 60px;
    width: 530px;
    padding: 0px;
    background: var(--resumeColor);
}

.row-right-entry {
    display: flex;
    width: 530px;
    padding: 0px;
}

.column-dates-desktop {
    display: wrap;
    padding: 0px 0px 20px 0px;
}

.column-dates-mobile {
    display: none;
}

.column-entry {
    display: wrap;
    padding: 0px 0px 20px 25px;
}

.column-entry a {
    color: #000000;
    text-decoration: none;
}

.column-entry a:hover {
    color: #0000ff;
}


/* --- FOOTER STRUCTURE --- */
footer {
    background: var(--resumeColor);
    width: 931px;
    height: 130px;
    border-radius: 0px 0px 5px 5px;
    justify-content: right;
    align-items: right;
    text-align: right;
}

#footer-right {
    background: var(--themeColor);
    width: 545px;
    height: 130px;
    margin: 0px 0px 0px 385px;
    padding-left: 30px;
    border-radius: 5px 0px 5px 0px;
    font-size: 80%;
    color: #cccccc;
    text-decoration: none;
}



/* RESPONSIVE LAYOUT MOBILE  */
@media screen and (max-width: 800px) {
    
    body {
        width: 100%;
        margin: 0;
        font-size: 100%;
        border-radius: 0px;
    }

    .body-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        padding: 30px 0px 40px 5%;
    }


    /* HEADER */
    #header { 
        width: 100%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #header-top {
        display: flex;
        flex-wrap: wrap;
        width: 89%;
        margin: 1% 3% 0% 3%;
        padding-left: 5%;
        border-radius: 20px 0px 20px 0px;
    }

    #header-bottom {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        padding: 0% 5%;
    }

    #header-bottom-left { 
        width: 100%;
        padding: 0;
    }
    
    #header-bottom-right  {
        width: 100%; 
        padding: 0;
    }


    /* --- LEFT SIDE--- */
    .column-left {
        width: 100%;
        padding: 0%;
        border-width: 0px;
    }

    .row-left { width: 95%; }


    /* --- RIGHT SIDE--- */
    .column-right {
        width: 100%;
        padding: 0%;
        margin-top: 30px;
    }

    .row-right { width: 95%; }

    .row-right-entry {
        display: block;
        width: 100%;
        padding: 0;
    }

    .column-dates-desktop {
        display: none;
        width: 50%;
        padding: 0px;
    }

    .column-dates-mobile {
        display: block;
        width: 50%;
    }

    .column-entry {
        display: wrap;
        width: 95%;
        padding: 0 0 30px 0;
    }

    li {
        margin-left: 3%;
    }


    /* --- FOOTER --- */
    footer { 
        width: 100%;
        border-radius: 20px;
    }

    #footer-right { 
        width: 94%;
        margin: 1% 3% 0% 3%;
        padding: 0;
        border-radius: 20px 0px 20px 0px;
    }
}